[submodule "nginx"]
	path = nginx
	url = ./nginx
[submodule "UniGPT-backend"]
	path = UniGPT-backend
	url = ../UniGPT-backend
[submodule "UniGPT-backend-microservice"]
	path = UniGPT-backend-microservice
	url = ../UniGPT-backend-microservice/
[submodule "UniGPT-frontend"]
	path = UniGPT-frontend
	url = ../UniGPT-frontend
[submodule "UniGPT-k8sfile"]
	path = UniGPT-k8sfile
	url = git@codehub.devcloud.cn-east-3.huaweicloud.com:212eb26731c24f27bfdaec8184cb2a08/UniGPT-k8s-files.git
